<head>
  <style>
     #map {
      height: 400px;
      width: 100%;
     }
  </style>
</head>
<body>
  <div class="container main content main-wrapper">
    <div class="sixteen columns page clearfix">
      <h1 class="center">
        {{ page.title }}
      </h1>
      <div class="feature_divider"></div>

      <div id="map"></div>
      <div id="timestamp"></div>

      {% include 'page-multi-column', content: page.content %}
      <script>
        function initMap() {
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: latest_location
          });
          var marker = new google.maps.Marker({
            position: latest_location,
            map: map
          });
        }
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrmtrrkEdR_z0z-hNIS4l5Zxx3cX2y7vI&callback=initMap">
      </script>
      <script>
        function timeSince(date) {

          var seconds = Math.floor((new Date() - date) / 1000);

          var interval = Math.floor(seconds / 31536000);

          if (interval > 1) {
            return interval + " years";
          }
          interval = Math.floor(seconds / 2592000);
          if (interval > 1) {
            return interval + " months";
          }
          interval = Math.floor(seconds / 86400);
          if (interval > 1) {
            return interval + " days";
          }
          interval = Math.floor(seconds / 3600);
          if (interval > 1) {
            return interval + " hours";
          }
          interval = Math.floor(seconds / 60);
          if (interval > 1) {
            return interval + " minutes";
          }
          return Math.floor(seconds) + " seconds";
        }
      </script>
      <script>
        document.getElementById("timestamp").innerHTML = 'last updated ' + timeSince(new Date(Date.parse(latest_location['timestamp']))) + ' ago';
      </script>
    </div>
  </div>
</body>
